
.contacts__title {
    margin-bottom: 54px;
}

.contacts__pharagraph {
    font-size: 24px;
    line-height: 28px;
}

.contacts_pharagraph_type_location {
    background: url(../image/location.svg) no-repeat left center;
    padding-left: 60px;
    margin-bottom: 38px;
    max-width: 300px;
}

.contacts_pharagraph_type_tel {
    background: url(../image/tel.svg) no-repeat left center;
    padding-left: 60px;
    margin-bottom: 11px;
}

.contacts_pharagraph_type_mail {
    background: url(../image/letter.svg) no-repeat left center;
    padding-left: 60px;
    margin-bottom: 39px;
}

.contacts__navigation-list {
    font-size: 0;
}

.contacts__navigation-list-item {
    display: inline-block;
    margin-right: 27px;
}
