.contacts {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__title {
    margin-bottom: 54px;
}

.contacts__pharagraph {
    font-size: 24px;
    line-height: 28px;
}

.contacts_pharagraph_type_location {
    background: url(../image/location.svg) no-repeat left center;
    padding-left: 60px;
    margin-bottom: 38px;
    max-width: 300px;
}

.contacts_pharagraph_type_tel {
    background: url(../image/tel.svg) no-repeat left center;
    padding-left: 60px;
    margin-bottom: 11px;
}

.contacts_pharagraph_type_mail {
    background: url(../image/letter.svg) no-repeat left center;
    padding-left: 60px;
    margin-bottom: 39px;
}

.contacts__navigation-list {
    font-size: 0;
}

.contacts__navigation-list-item {
    display: inline-block;
    margin-right: 27px;
}

.contacts__flexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
}

.contacts__flexbox:last-child {
    margin-bottom: 0;
}

.contacts__autor {
    max-width: 157px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
