
.halls__title {
    margin-bottom: 60px;
}

.halls__list {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.halls__item {
    min-width: 580px;
    max-height: 349px;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    white-space: pre-line;
    padding: 94px 164px;
}

.halls__item-vibes {
    background: url(../image/80svibes.png) no-repeat center;
}

.halls__item-star-wars {
    background: url(../image/star_wars.png) no-repeat center;
}

.halls__item-wild-west {
    background: url(../image/wild_west.png) no-repeat center;
}

.halls__item-neon-style {
    background: url(../image/neon_style.png) no-repeat center;
}
