
.halls__title {
    margin-bottom: 60px;
}

.halls__item {
    display: inline-block;
    vertical-align: top;
    max-width: 580px;
    min-height: 349px;
    margin-bottom: 20px;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
}

.halls__item:nth-child(n+3) {
    margin-bottom: 0;
}

.halls__item:not(:nth-child(2n)) {
    margin-right: 16px;
}

.halls__item-vibes {
    background: url(../image/80svibes.png) no-repeat center;
    padding: 135px 103px 134px 103px;
}

.halls__item-star-wars {
    background: url(../image/star_wars.png) no-repeat center;
    padding: 135px 82px 134px 82px;
}

.halls__item-wild-west {
    background: url(../image/wild_west.png) no-repeat center;
    padding: 135px 89px 134px 89px;
}

.halls__item-neon-style {
    background: url(../image/neon_style.png) no-repeat center;
    padding: 135px 66px 134px 66px;
}
