
@import url(header.css);

@import url(normalize.css);

@import url(global.css);

@import url(style.css);

@import url(start-page.css);

@import url(chill.css);

@import url(halls.css);

@import url(bookihg.css);

@import url(about-us.css);

@import url(reviews.css);

@import url(faq.css);

@import url(contacts.css);

.container {
    max-width: 1440px;
    padding: 0 130px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.header {
    padding-top: 30px;
    padding-bottom: 25px;
}

.section:last-child {
    padding-bottom: 10px;
}

.start-page {
    padding-top: 25px;
}